<h1><%= @restaurant.name %></h1>
<p><%= "Category: #{@restaurant.category}" %></p>
 <p><%= link_to 'Write a Review!', restaurants_path%></p>
 <p><%= link_to 'Return to Index', restaurants_path %></p>
